.atk-layout-row#header
  .atk-layout-cell
    .atk-wrapper.atk-section
      .atk-cells
        .atk-cell
          a.atk-text-reset.atk-block#logo(href='javascript:void(0)')
            img(src='images/logo.png', alt="MEDeTOURISM")
        .atk-cell.atk-align-right.atk-actions-xxlarge
          a(href='javascript:void(0)') Sign In
          a(href='javascript:void(0)').atk-button-large.atk-size-micro.atk-swatch-tomato Reuqest a Bid