doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Agile Toolkit CSS // Theme Fixed
    link(rel='stylesheet', href='css/swipe.css')
  body.page-index
    include includes/browsehappy
    .atk-layout
      #header.atk-layoutRow
        .atk-layoutCell
          header
            .atk-wrapper.atk-padding-top--s.atk-padding-bottom--s
              .atk-cells
                .atk-cell.atk-text-font--clear
                  a.atk-inline-block(href="#")
                    img(src="images/logo.svg" title="Swipe" width="100")
                .atk-cell.atk-align-right.atk-text-size--xs
                  span.atk-items-spacing--l.atk-text-caps.atk-text-semibold.atk-comment
                    a(href="javascript:void(0)") Test
                    a(href="javascript:void(0)") Test
                    a(href="javascript:void(0)") Test
                    a(href="javascript:void(0)") Test
                  span.atk-margin-left--l.atk-margin-right--l.atk-swatch-aqua--text
                    | /
                  span.atk-items-spacing
                    a(href="javascript:void(0)").atk-inputLabel.atk-text-caps.atk-text-semibold.atk-comment Log In
                    a(href="javascript:void(0)").atk-button.atk-swatch-aqua.atk-border-outline Sign Up
      .atk-layoutRow.atk-layoutExpand
        .atk-layout.atk-layoutCell
          .atk-layout-column.atk-layout-expand
            section#hero
                #hero-slider
                  #hero-slide-invoicing.atk-wrapper
                    span.rsTmb
                      .icon-smile.atk-text-size--3xl
                      .atk-text-caps-size--xs-semibold Invoicing
                    .atk-row
                      .atk-col-6.atk-padding-top--xl.atk-padding-bottom--xl
                        h1.atk-margin-top--xl Free Invoicing
                        p.atk-text-size--xl Using free Swipe invoicing you can create and deliver an invoice to your client to any device in a minute. Do not believe us? Check it out! And by the way, if your merchant profile is verified they can be paid in 2 clicks.
                        .atk-items-spacing--s
                          a.atk-button-spacing--xl.atk-swatch-aqua(href="#") Issue an Invoice
                          a.atk-button-spacing--xl.atk-swatch-aqua.atk-border-outline(href="#") Sign Up
                      .atk-col-6
                        figure #[img(src="images/ipad-invoice.png" width="409" height="430")]
                  .atk-wrapper
                    span.rsTmb
                      .icon-smile.atk-text-size--3xl
                      .atk-text-caps-size--xs-semibold Subscription
                    .atk-row.atk-padding-top--xl.atk-padding-bottom--xl
                      .atk-col-6
                        h1 Automated Subscriptions
                        p.atk-text-size--l Automated subscriptions make sure businesses receive recurring payments fast, without interrupting clients’ day with annoying reminders. If your merchant account is verified, Swipe will deliver funds automatically. Customers can be added manually to any subscription plan in company’s Swipe account or subscribe themselves online.
                        .atk-items-spacing--s
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Issue an Invoice
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Sign Up
                      .atk-col-6
                        | img
                  .atk-wrapper
                    span.rsTmb
                      .icon-smile.atk-text-size--3xl
                      .atk-text-caps-size--xs-semibold Payments
                    .atk-row.atk-padding-top--xl.atk-padding-bottom--xl
                      .atk-col-6
                        h1 Payments
                        p.atk-text-size--l Your business is going online? Not a problem. Use Swipe API to accept payments on your website or just download payment module for your e-commerce engine in a few clicks. Business doesn’t have to reach 3rd party service providers and waste time on a lengthy verification process.
                        .atk-items-spacing--s
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Issue an Invoice
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Sign Up
                      .atk-col-6
                        | img
                  .atk-wrapper
                    span.rsTmb
                      .icon-smile.atk-text-size--3xl
                      .atk-text-caps-size--xs-semibold Notifications
                    .atk-row.atk-padding-top--xl.atk-padding-bottom--xl
                      .atk-col-6
                        h1 Notifications
                        p.atk-text-size--l Swipe also provides notification system to all of the products. So you don't have to make awkward phone calls reminding about the unpaid invoices.
                        .atk-items-spacing--s
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Issue an Invoice
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Sign Up
                      .atk-col-6
                        | img
                  .atk-wrapper
                    span.rsTmb
                      .icon-smile.atk-text-size--3xl
                      .atk-text-caps-size--xs-semibold API
                    .atk-row.atk-padding-top--xl.atk-padding-bottom--xl
                      .atk-col-6
                        h1 API
                        p.atk-text-size--l All of the Swipe tools are available via API. To execute test payments during the integration process you can use a test API keys set.
                        .atk-items-spacing--s
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Issue an Invoice
                          a.atk-button-spacing--xl.atk-border-outline(href="#") Sign Up
                      .atk-col-6
                        | img
            section.atk-swatch-black.atk-padding-top--l.atk-padding-bottom--l
              .atk-wrapper
                .atk-cells.atk-move-center
                  .atk-cell
                    h2 Sign up for free
                  .atk-cell.atk-text-size--7xl-light.atk-align-center.atk-padding-left--l.atk-padding-right--l.atk-swatch-aqua--text
                    | /
                  .atk-cell.atk-text-nowrap
                    form.form-minimal.atk-items-spacing--s
                      input(type="email" placeholder="Email address")
                      input(type="password" placeholder="Password")
                      button.atk-swatch-aqua.atk-button-spacing--l.atk-text-size--s Continue#[span.icon-angle-right.atk-margin-left--xs]
            section.atk-swatch-gray.atk-padding-top--xl.atk-padding-bottom--xl
              .atk-wrapper.atk-align-center
                .atk-margin-bottom--l
                  h1.atk-margin--none Sign up for free
                  h2.atk-margin--none and verify your merchant account to get the most out of Swipe!
                .atk-row
                  .atk-col-5
                    h3 Non-verified
                    .atk-box
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eum minus, in dicta. Rem, nobis esse dolore laudantium, culpa quibusdam et eaque saepe ipsa accusamus voluptas accusantium fugiat enim amet.
                  .atk-col-2
                  .atk-col-5
                    h3 Verified
                    .atk-box
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eum minus, in dicta. Rem, nobis esse dolore laudantium, culpa quibusdam et eaque saepe ipsa accusamus voluptas accusantium fugiat enim amet.
            section.atk-padding-top--xl.atk-padding-bottom--xl
              .atk-wrapper
                .atk-row.atk-margin-bottom
                  .atk-col-6
                    .atk-box(style="height:180px")
                      | Mission
                  .atk-col-6
                    .atk-box.atk-margin-bottom Featured by
                    .atk-box Trusted by
                .atk-row
                  .atk-col-6
                    .atk-box
                      | Support Desk
                  .atk-col-6
                    .atk-box
                      | Top blog posts
            section.atk-padding-top--xl.atk-padding-bottom--xl.atk-swatch-gray
              .atk-wrapper.atk-align-center
                h1 It can be a long story. It's easier just to try it!
                form
                  input(type="text")
                  input(type="text")
                  input(type="button" value="Test")
      .atk-layout-row
        .atk-layoutCell
          footer.atk-padding-top.atk-padding-bottom
            .atk-wrapper
              | Copyright bullshit
    include includes/analytics
    include includes/scripts
