extend includes/page

block link
  -var selected = 'Invoice Add';

block content
  .content
    .atk-wrapper.atk-padding-top.atk-padding-bottom
      .atk-cells-spacing--s.atk-margin-bottom
        .atk-cell.atk-text-nowrap
          h1 Sales Invoice
        .atk-cell
          span.atk-text-size--xxl-nowrap.atk-comment TAL0001 Tallaght Town
        .atk-cell.atk-expand.atk-relative
          .atk-text-semibold.atk-text-size--l.atk-align-right
            span.atk-margin-right--xs
              | Template:
            a#templates-trigger(href="#") Default #[span.icon-angle-down]
          #templates.popover-actions.atk-popover-top-right.atk-box.atk-hide
            .atk-popoverArrow
            ul.atk-lister-spacing--none.atk-list-nobullets
              li.active
                a.atk-swatch-default(href="javascript:void(0)") Default
              li
                a.atk-swatch-default(href="javascript:void(0)") Basic
              li
                a.atk-swatch-default(href="javascript:void(0)") Advanced
      .atk-box.atk-padding-all--none.atk-overflow.atk-relative
        .invoice-status--success.atk-text-caps-semibold-size--l Paid
        //- .invoice-status--success.atk-text-caps-semibold-size--l Part Paid
        //- .invoice-status--warning.atk-text-caps-semibold-size--l Locked
        //- .invoice-status--danger.atk-text-caps-semibold-size--l Returned
        .atk-padding-all--l
          .atk-row.atk-margin-bottom
            .atk-col-7
              h5.atk-comment.atk-margin-all--none.atk-text-caps-normal Invoice Details
              hr.atk-margin-top--xs.atk-margin-bottom--s
              .atk-cells-spacing.atk-align-top
                .atk-cell.atk-col-8
                  .atk-margin-bottom--s
                    label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Customer
                    .atk-inputIcon.atk-expand.datepicker
                      input.atk-input-spacing--s(type="text")
                      a.icon-search.atk-comment(href="#")
                  .atk-margin-bottom--s.atk-cells-spacing--s-justified
                    .atk-cell
                      label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Invoice Date
                      .atk-inputIcon.atk-expand.invoice-issued
                        input.atk-input-spacing--s(type="text")
                        a.icon-calendar.atk-comment(href="#")
                    .atk-cell
                      label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Due Date
                      .atk-inputIcon.atk-expand.invoice-due
                        input.atk-input-spacing--s(type="text")
                        a.icon-calendar.atk-comment(href="#")
                  .atk-margin-bottom--s
                    label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Account Manager
                    input.atk-input-spacing--s.atk-expand(type="text")
                .atk-cell.atk-col-4
                  .atk-margin-bottom--s
                    label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Invoice No.
                    input.atk-input-spacing--s.atk-expand(type="text")
                  .atk-margin-bottom--s
                    label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Reference No.
                    input.atk-input-spacing--s.atk-expand(type="text")
                  .atk-margin-bottom--s
                    label.atk-text-bold-caps-size--xs.atk-margin-bottom--xs.atk-inline-block(for="input") Quote/S.O. No.
                    input.atk-input-spacing--s.atk-expand(type="text")
            .atk-col-1
            .atk-col-4
              h5.atk-comment.atk-margin-all--none.atk-text-caps-normal Credit Control Info
              hr.atk-margin-top--xs.atk-margin-bottom--s
              .atk-lister-spacing--xs.atk-text-size--s
                .atk-cells
                  .atk-cell.atk-text-semibold Customer Balance
                  .atk-cell.atk-align-right 2,460.30
                .atk-cells
                  .atk-cell.atk-text-semibold Overdue Balance
                  .atk-cell.atk-align-right 2,460.30
                .atk-cells
                  .atk-cell.atk-text-semibold Last Payment Amount
                  .atk-cell.atk-align-right 0.00
                .atk-cells
                  .atk-cell.atk-text-semibold Last Payment Date
                  .atk-cell.atk-align-right 12/07/2015
                .atk-cells
                  .atk-cell.atk-text-semibold Credit Terms
                  .atk-cell.atk-align-right 30 days
              hr.atk-margin-top--s.atk-margin-bottom--s
              a.atk-text-bold-caps-size--xs(href="#") #[span.icon-plus] Add Payment Terms
          .invoice-table.atk-table-separated--all-nosides-spacing--none-hover.atk-text-nowrap-size--s.atk-margin-bottom--s
            table
              thead.atk-text-baseline--single
                tr.atk-overflow.atk-swatch-smoke
                  th(style="min-width:8em") Product
                  th.atk-expand Description
                  th Divisions
                  th(style="min-width:5em") Qty
                  th(style="min-width:5.5em") Price
                  th(style="min-width:5em") Discount
                  th(style="min-width:5em") VAT %
                  th(style="min-width:5em") Nominal
                  th.atk-align-right(style="min-width:6em") Net
              tbody
                tr
                  td
                    input.atk-input-spacing--xs(type="text" value="CONES")
                    .atk-tableAction
                      a.invoice-row-advanced.tooltip.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href="#" title="Advanced Settings" tabindex="-1") #[span.icon-cog]
                  td #[input.atk-input-spacing--xs(type="text" value="Cones")]
                  td #[input.atk-input-spacing--xs(type="text" value="ABC 1")]
                  td #[input.atk-input-spacing--xs(type="text" value="6.00")]
                  td #[input.atk-input-spacing--xs(type="text" value="9.99")]
                  td #[input.atk-input-spacing--xs(type="text" value="0.00")]
                  td
                    select.invoice-select
                      option A 23.00
                      option A 13.00
                      option A 0.00
                  td #[input.atk-input-spacing--xs(type="text" value="005")]
                  td
                    input.atk-align-right.atk-input-spacing--xs(type="text" value="59.94")
                    .atk-tableAction
                      a.tooltip.invoice-row-delete.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href="#" title="Delete Row" tabindex="-1") #[span.icon-cancel]
                tr
                  td
                    input.atk-input-spacing--xs(type="text" value="CONES")
                    .atk-tableAction
                      a.invoice-row-advanced.tooltip.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href="#" title="Advanced Settings" tabindex="-1") #[span.icon-cog]
                  td #[input.atk-input-spacing--xs(type="text" value="Cones")]
                  td #[input.atk-input-spacing--xs(type="text" value="ABC 2")]
                  td #[input.atk-input-spacing--xs(type="text" value="6.00")]
                  td #[input.atk-input-spacing--xs(type="text" value="9.99")]
                  td #[input.atk-input-spacing--xs(type="text" value="0.00")]
                  td
                    select.invoice-select
                      option A 23.00
                      option A 13.00
                      option A 0.00
                  td #[input.atk-input-spacing--xs(type="text" value="005")]
                  td
                    input.atk-align-right.atk-input-spacing--xs(type="text" value="59.94")
                    .atk-tableAction
                      a.tooltip.invoice-row-delete.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href="#" title="Delete Row" tabindex="-1") #[span.icon-cancel]
                tr
                  td
                    input.atk-input-spacing--xs(type="text" value="CONES")
                    .atk-tableAction
                      a.invoice-row-advanced.tooltip.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href="#" title="Advanced Settings" tabindex="-1") #[span.icon-cog]
                  td #[input.atk-input-spacing--xs(type="text" value="Cones")]
                  td #[input.atk-input-spacing--xs(type="text" value="ABC 3")]
                  td #[input.atk-input-spacing--xs(type="text" value="6.00")]
                  td #[input.atk-input-spacing--xs(type="text" value="9.99")]
                  td #[input.atk-input-spacing--xs(type="text" value="0.00")]
                  td
                    select.invoice-select
                      option A 23.00
                      option A 13.00
                      option A 0.00
                  td #[input.atk-input-spacing--xs(type="text" value="005")]
                  td
                    input.atk-align-right.atk-input-spacing--xs(type="text" value="59.94")
                    .atk-tableAction
                      a.tooltip.invoice-row-delete.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href="#" title="Delete Row" tabindex="-1") #[span.icon-cancel]
          .atk-row
            .atk-col-8
              .atk-margin-bottom--s
                a.atk-button-spacing--xs.atk-swatch-aqua(href="#") #[span.icon-plus] Add New Line
                a.atk-button-blank(href="#") Test
              .file-browser
                a.atk-cells-spacing--s(href="#")
                  span.atk-cell
                    span.icon-attach.atk-text-size--5xl
                  span.atk-cell.atk-expand
                    span.atk-block.atk-text-semibold Add Attachment
                    span.atk-comment.atk-text-italic Max file size 500kb.
                input(type="file")
            .atk-col-4
              .atk-cells
                .atk-cell
                  | Net
                .atk-cell.atk-align-right.atk-text-semibold
                  | 587.06
              .atk-cells
                .atk-cell
                  | VAT #[a#vat-analysis-trigger.icon-info-circled(href="#")]
                .atk-cell.atk-align-right.atk-text-semibold
                  | 135.03
              hr.atk-margin-top--s.atk-margin-bottom--s.border-black
              .atk-cells.atk-text-bold-size--l
                .atk-cell
                  | Total EUR
                .atk-cell.atk-align-right
                  | 722.09
        .atk-cells-justified.atk-border-top-static.atk-align-top
          .atk-cell.atk-padding-top--s.atk-padding-bottom.atk-padding-left--l.atk-padding-right--l
            #tabs-address.tabs-minimal
              ul
                li #[a.atk-inputLabel-spacing--xs.atk-text-semibold-caps-size--s(href='#tabs-1') Invoice Address]
                li #[a.atk-inputLabel-spacing--xs.atk-text-semibold-caps-size--s(href='#tabs-2') Delivery Address]
              #tabs-1
                textarea.atk-input-spacing--s.atk-expand(rows="4")!= "Whitestown Way,\nTallaght,\nDublin 24,\nIreland"
              #tabs-2
                textarea.atk-input-spacing--s.atk-expand(rows="4")!= "Greystown Way,\nTallaght,\nDublin 24,\nIreland"
          .atk-cell.atk-border-left-static.atk-padding-top--s.atk-padding-bottom.atk-padding-left--l.atk-padding-right--l
            label.atk-block.atk-margin-bottom--s.atk-inputLabel-spacing--xs.atk-text-semibold-caps-size--s Add a note to the recipient
            textarea.atk-input-spacing--s.atk-expand(rows="4")
  footer.page-actions.atk-border-top-static.atk-text-size--l
    .atk-cells
      .atk-cell.atk-padding-left.atk-text-semibold.atk-items-spacing
        a.atk-comment(href="#")
          span.icon-print.atk-margin-right--xs
          | Print
        a.atk-comment(href="#")
          span.icon-mail.atk-margin-right--xs
          | Send via Email
        a.atk-comment(href="#")
          span.icon-trash.atk-margin-right--xs
          | Delete
      .atk-cell.atk-align-right.atk-items-spacing--xs.atk-padding-right
        a.atk-button.atk-swatch-gray.atk-border-outline(href="#") Cancel
        a.atk-button.atk-swatch-mint(href="#") Save
  #row-advanced.atk-hide(title="Advanced Options")
    | Form + History goes here
  #vat-analysis.atk-popover-bottom-center.atk-hide.atk-box.atk-swatch-midnight.atk-padding-all--none.atk-text-size--s
    .atk-popoverArrow
    .atk-table-spacingSemi--xs-separated.atk-align-right
      table
        thead
          tr
            th.atk-align-left VAT Rate
            th Net
            th VAT
            th Gross
        tbody
          tr
            td.atk-align-left 0.00
            td 0.00
            td 0.00
            td 0.00
          tr
            td.atk-align-left 13.50
            td 0.00
            td 0.00
            td 0.00
          tr
            td.atk-align-left 23.50
            td 0.00
            td 0.00
            td 0.00
        tfoot.atk-text-bold
          tr
            td.atk-border-top-static
            td.atk-border-top-static 0.00
            td.atk-border-top-static 0.00
            td.atk-border-top-static 0.00