extend includes/page

block link
  -var selected = 'Invoices';

block content
  h1.atk-push-reset= selected
  hr
  p.atk-size-kilo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam dolores molestias animi quasi voluptates sequi mollitia ullam ad non beatae iste cupiditate aliquid facilis velit ut autem porro, cumque expedita.