doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Page not found.
    link(rel='stylesheet', href='css/404.css')
  body
    include includes/browsehappy
    include includes/analytics
    .atk-layout.atk-align-center
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell.atk-valign-middle
          .atk-layout-column.atk-layout-expand.atk-valign-middle
            .atk-wrapper.atk-section-large
              .rombus.atk-move-center.atk-push-large
                span.atk-text-baseline-reset.atk-text-semibold 404
              h2 This page does not exist.
              p
                | We can't find the page you're looking for. Check out our 
                a(href='javascript:void(0)') Help Center 
                | and 
                a(href='javascript:void(0)') forums 
                | for help, or head back to 
                a(href='javascript:void(0)') home
                | .
              .atk-actions-large.atk-size-milli.atk-stack-mobile
                a(href='javascript:void(0)').atk-button-large.atk-swatch-aqua.atk-push-xsmall.atk-col-5 Get Started
                a(href='javascript:void(0)').atk-button-large.atk-button-outline.atk-push-xsmall.atk-col-5 Back to Home
      .atk-layout-row
        .atk-layout-cell
          .atk-wrapper
            a.atk-push-large.atk-inline.logo.atk-text-baseline-reset(href='javascript:void(0)')
              img.atk-inline.atk-push-xsmall(src='images/logo-swipe-gray.svg', alt='Swipe', width='120', height='45')
              br
              span Sell online without a website
