doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Agile CSS
    link(rel='stylesheet', href='../Default/css/atk-default.css')
  body
    .atk-layout
      .atk-layoutRow.atk-layoutExpand
        .atk-layout.atk-layoutCell
          .atk-layoutColumn.atk-layoutExpand
            .atk-wrapper.atk-padding-top--xl.atk-padding-bottom--xl
              h1.atk-margin-bottom--l.atk-align-center Social Feed
              .atk-items-spacingVertical--l.atk-col-8.atk-move-center
                article
                  .atk-cells-spacing.atk-align-top
                    .atk-cell
                      a(href="#" style="width:48px;height:48px").atk-shape-circle.atk-overflow.atk-swatch-gray.atk-text-font--clear
                        img(src="temp/kanye.jpg" width="48" height="")
                    .atk-cell
                      .atk-box.atk-swatch-gray.atk-margin-bottom--s.atk-padding--s.atk-popover-left-top
                        .atk-popoverArrow
                        .atk-margin-bottom--xs.atk-text-baseline--single
                          span.atk-text-bold.atk-margin-right--xs Kanye West
                          span.atk-comment #[a(href="#") @kanyewest]&nbsp;&sdot;&nbsp;Feb 10
                        div I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
                      .atk-cells-spacing--l
                        .atk-cell
                          .atk-text-caps-size--xs Tweets
                          a.atk-text-size--3xl(href="#") 365
                        .atk-cell
                          .atk-text-caps-size--xs Following
                          a.atk-text-size--3xl(href="#") 1
                        .atk-cell.atk-expand
                          .atk-text-caps-size--xs Followers
                          a.atk-text-size--3xl(href="#") 18.6M
                article
                  .atk-cells-spacing.atk-align-top
                    .atk-cell
                      a(href="#" style="width:48px;height:48px").atk-shape-circle.atk-overflow.atk-swatch-gray.atk-text-font--clear
                        img(src="temp/kanye.jpg" width="48" height="")
                    .atk-cell
                      .atk-box.atk-swatch-gray.atk-margin-bottom--s.atk-padding--s.atk-popover-left-top
                        .atk-popoverArrow
                        .atk-margin-bottom--xs.atk-text-baseline--single
                          span.atk-text-bold.atk-margin-right--xs Kanye West
                          span.atk-comment #[a(href="#") @kanyewest]&nbsp;&sdot;&nbsp;Feb 10
                        div I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
                      .atk-cells-spacing--l
                        .atk-cell
                          .atk-text-caps-size--xs Tweets
                          a.atk-text-size--3xl(href="#") 365
                        .atk-cell
                          .atk-text-caps-size--xs Following
                          a.atk-text-size--3xl(href="#") 1
                        .atk-cell.atk-expand
                          .atk-text-caps-size--xs Followers
                          a.atk-text-size--3xl(href="#") 18.6M
                article
                  .atk-cells-spacing.atk-align-top
                    .atk-cell
                      a(href="#" style="width:48px;height:48px").atk-shape-circle.atk-overflow.atk-swatch-gray.atk-text-font--clear
                        img(src="temp/kanye.jpg" width="48" height="")
                    .atk-cell
                      .atk-box.atk-swatch-gray.atk-margin-bottom--s.atk-padding--s.atk-popover-left-top
                        .atk-popoverArrow
                        .atk-margin-bottom--xs.atk-text-baseline--single
                          span.atk-text-bold.atk-margin-right--xs Kanye West
                          span.atk-comment #[a(href="#") @kanyewest]&nbsp;&sdot;&nbsp;Feb 10
                        div I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
                      .atk-cells-spacing--l
                        .atk-cell
                          .atk-text-caps-size--xs Tweets
                          a.atk-text-size--3xl(href="#") 365
                        .atk-cell
                          .atk-text-caps-size--xs Following
                          a.atk-text-size--3xl(href="#") 1
                        .atk-cell.atk-expand
                          .atk-text-caps-size--xs Followers
                          a.atk-text-size--3xl(href="#") 18.6M
                article
                  .atk-cells-spacing.atk-align-top
                    .atk-cell
                      a(href="#" style="width:48px;height:48px").atk-shape-circle.atk-overflow.atk-swatch-gray.atk-text-font--clear
                        img(src="temp/kanye.jpg" width="48" height="")
                    .atk-cell
                      .atk-box.atk-swatch-gray.atk-margin-bottom--s.atk-padding--s.atk-popover-left-top
                        .atk-popoverArrow
                        .atk-margin-bottom--xs.atk-text-baseline--single
                          span.atk-text-bold.atk-margin-right--xs Kanye West
                          span.atk-comment #[a(href="#") @kanyewest]&nbsp;&sdot;&nbsp;Feb 10
                        div I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
                      .atk-cells-spacing--l
                        .atk-cell
                          .atk-text-caps-size--xs Tweets
                          a.atk-text-size--3xl(href="#") 365
                        .atk-cell
                          .atk-text-caps-size--xs Following
                          a.atk-text-size--3xl(href="#") 1
                        .atk-cell.atk-expand
                          .atk-text-caps-size--xs Followers
                          a.atk-text-size--3xl(href="#") 18.6M
