block link
  -var selected = 'Clients'; // by default

head
  meta(charset='utf-8')
  <!--[if IE]><!-->
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  <!--<![endif]-->
  title= selected
  meta(name='description', content='')
  link(rel='stylesheet', href='css/surfaccounts.css')