doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  include head
  body
    include browsehappy
    .atk-layout
      //- include header
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell
          include sidebar
          main.atk-layout-column.atk-layout-expand
            ul.atk-swatch-night.atk-menu-horizontal.atk-cells.atk-expand.nav-main
              li.atk-cell.atk-swatch-midnight
                a.sidebar-trigger.atk-padding-small.atk-swatch-night(href='javascript:void(0)') #[span.icon-collapse-left]#[span.icon-menu]
              li.atk-cell.atk-swatch-midnight.atk-menu-separated
                a.atk-swatch-night.atk-move-left.atk-padding.atk-padding-right-small.atk-padding-vertical-small.atk-text-bold.atk-expand(href='javascript:void(0)') Create New&nbsp;&nbsp;#[span.icon-angle-down]
                ul.atk-menu-vertical.atk-text-medium.atk-shape-rounded-bottom
                  li
                    a.atk-padding.atk-padding-vertical-small.atk-swatch-midnight(href='javascript:void(0)') #[span.icon-plus.atk-size-micro]&nbsp;&nbsp;Invoice
                  li
                    a.atk-padding.atk-padding-vertical-small.atk-swatch-midnight(href='javascript:void(0)') #[span.icon-plus.atk-size-micro]&nbsp;&nbsp;Credit Note
                  li
                    a.atk-padding.atk-padding-vertical-small.atk-swatch-midnight(href='javascript:void(0)') #[span.icon-plus.atk-size-micro]&nbsp;&nbsp;Customer
                  li
                    a.atk-padding.atk-padding-vertical-small.atk-swatch-midnight.atk-shape-rounded-bottom(href='javascript:void(0)') #[span.icon-plus.atk-size-micro]&nbsp;&nbsp;Purchase Invoice
              li.atk-cell.atk-expand.atk-align-right.atk-padding-horizontal
                a.atk-button-small.atk-border-outline.atk-swatch-mint.atk-size-milli(href='javascript:void(0)') Trial ends in 10 days
              li.atk-cell.atk-swatch-midnight.atk-menu-separated
                a.atk-swatch-night.atk-move-left.atk-padding.atk-padding-right-small.atk-padding-vertical-small.atk-text-bold.atk-expand(href='javascript:void(0)') Jonathan Ross&nbsp;&nbsp;#[span.icon-angle-down]
                ul(data-menu-position="right").atk-menu-vertical.atk-swatch-midnight.atk-shape-rounded-bottom-left.atk-text-medium
                  li #[a.atk-padding.atk-padding-vertical-small.atk-swatch-midnight(href='javascript:void(0)') Settings]
                  li #[a.atk-padding.atk-padding-vertical-small.atk-swatch-midnight(href='javascript:void(0)') Support]
                  hr.atk-hr-reset
                  li
                    a.atk-swatch-midnight.atk-cells.atk-shape-rounded-bottom(href='javascript:void(0)')
                      span.atk-cell.atk-padding.atk-padding-vertical-small.atk-expand Log Out
                      span.atk-cell.atk-padding-small #[span.icon-off]
            .content
              block content
      //- include includes/footer
    include scripts
    //- include analytics