doctype html
<!-[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]->
<!-[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]->
<!-[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]->
<!-[if gt IE 8]><!->
html
  <!-<![endif]->
  include head
  body
    include browsehappy
    .atk-layout
      //- include header
      .atk-layoutRow.atk-layoutExpand
        .atk-layout.atk-layoutCell
          include sidebar
          main.atk-layoutColumn.atk-layoutExpand
            ul.atk-swatch-night.atk-menu-horizontal-separated.atk-cells.atk-expand.nav-main
              li.atk-cell
                a.sidebar-trigger.atk-swatch-night.atk-padding-all--s(href='javascript:void(0)') #[span.icon-collapse-left]#[span.icon-menu]
              li.atk-cell.atk-swatch-midnight
                a.atk-swatch-night.atk-move-left.atk-expand.atk-padding-all--s.atk-text-bold(href='javascript:void(0)') Create New&nbsp;&nbsp;#[span.icon-angle-down]
                ul.atk-menu-vertical.atk-text-semibold.atk-shape-rounded--bottom.atk-overflow
                  li
                    a.atk-swatch-midnight.atk-padding-all--s(href='javascript:void(0)') #[span.icon-plus.atk-text-size--xs]&nbsp;&nbsp;Invoice
                  li
                    a.atk-swatch-midnight.atk-padding-all--s(href='javascript:void(0)') #[span.icon-plus.atk-text-size--xs]&nbsp;&nbsp;Credit Note
                  li
                    a.atk-swatch-midnight.atk-padding-all--s(href='javascript:void(0)') #[span.icon-plus.atk-text-size--xs]&nbsp;&nbsp;Customer
                  li
                    a.atk-swatch-midnight.atk-padding-all--s(href='javascript:void(0)') #[span.icon-plus.atk-text-size--xs]&nbsp;&nbsp;Purchase Invoice
              li.atk-cell.atk-expand.atk-padding-left.atk-padding-right.atk-align-right
                a.atk-swatch-aqua.atk-text-size--s.atk-border-outline.atk-button-spacing--xs(href='javascript:void(0)') Trial ends in 10 days
              li.atk-cell.atk-swatch-midnight
                a.atk-swatch-night.atk-move-left.atk-expand.atk-padding-all--s.atk-text-bold#dialog-company-trigger(href='javascript:void(0)')
                  span.icon-building.atk-margin-right--xs
                  | Demo Company Ltd.
            block content
      //- include includes/footer
    #dialog-user.atk-padding-all--none(title="Ray Rogers")
      ul.atk-list-nobullets.atk-lister-spacing--none.atk-text-size--xl.atk-align-center
        li #[a.atk-swatch-default.atk-block.atk-padding-all--s(href='#') Settings]
        li #[a.atk-swatch-default.atk-block.atk-padding-all--s(href='#') Billing]
        li #[a.atk-swatch-default.atk-block.atk-padding-all--s(href='#') Support]
        li.atk-border-top-static #[a.atk-swatch-default.atk-block.atk-padding-all--s.atk-text-semibold.atk-shape-rounded--bottom(href='#') Log Out]
    #dialog-company.dialog-scrollable(title="Company Select")
      .atk-lister-spacing--xs
        .atk-cells
          .atk-cell.atk-expand
            | Relate Software Industries.
          .atk-cell
            a.atk-button-spacing--s-blank.atk-swatch-aqua.disable(href='javascript:void(0)') #[span.icon-ok] Current
        .atk-cells
          .atk-cell.atk-expand
            | Surfaccounts Ltd.
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
        .atk-cells
          .atk-cell.atk-expand
            | SIA Mayack
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
        .atk-cells
          .atk-cell.atk-expand
            | Random Industries PLC
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
        .atk-cells
          .atk-cell.atk-expand
            | Relate Software Ltd.
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
        .atk-cells
          .atk-cell.atk-expand
            | Surfaccounts Ltd.
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
        .atk-cells
          .atk-cell.atk-expand
            | SIA Mayack
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
        .atk-cells
          .atk-cell.atk-expand
            | Random Industries PLC
          .atk-cell
            a.atk-button-spacing--s.atk-swatch-aqua(href='javascript:void(0)') Select
    include scripts
    //- include analytics