tr
  td
    a.text--semibold(href='#') Antrim Dynamos
    .text--size-s.comment
      div info@antrimdynamos.com
      div 00353-26-346457
  td.comment.expand ANT0004
  td #[a(href='#') 1 Open Invoice]
  td.align-right €1,047.02
  td(colspan='2').table-row-icon
    a.actions-trigger.button.swatch--aqua.padding--all-xs.shape--circle.text--baseline-single.border--outline(href='#') #[span.icon-down-open]