tr
  td
    a(href='#' data-text="semibold") Antrim Dynamos
    .atk-size-milli.atk-comment
      div info@antrimdynamos.com
      div 00353-26-346457
  td.atk-comment.atk-expand ANT0004
  td #[a(href='#') 1 Open Invoice]
  td(data-align="right") €1,047.02
  td(colspan='2').atk-table-row-icon
    a.actions-trigger.atk-button.atk-swatch-aqua(href='#' data-padding="all-xs" data-shape="circle" data-text="baseline-reset" data-border="outline") #[span.icon-down-open]