tr
  td
    a.atk-text-semibold(href='#') Antrim Dynamos
    .atk-text-size--s.atk-comment
      div info@antrimdynamos.com
      div 00353-26-346457
  td.atk-comment.atk-expand ANT0004
  td #[a(href='#') 1 Open Invoice]
  td.atk-align-right
    .atk-tableAction
      a.actions-trigger.atk-button.atk-swatch-aqua.atk-padding-all--xs.atk-shape-circle.atk-border-outline(href='#') #[span.icon-down-open]
    | €1,047.02