block link
  -var selected = 'Clients'; // by default

-var menu = { 'Clients': 'clients', 'Invoices': 'invoices' };


aside.sidebar.layout-column.swatch--aqua.border-right
  .sidebar-indicator
  .sidebar-inner
    .logo.padding--all.padding--top-s.padding--bottom-s.align-center
      a(href='/').inline
        span.logo-mask.swatch--aqua
        img(src='images/logo-white.svg' title="Surfaccounts" width="100")
    hr.margin--all-reset
    nav.nav-sidebar.scrollable.padding--top-s
      ul.list--nobullets.menu--vertical.text--baseline-single
        li
          a.cells--spacing.padding--all.padding--top-s.padding--bottom-s(href="#")
            figure.cell #[span.icon-gauge.text--bold--size-xl]
            span.cell.expand.text--bold--size-l Dashboard
        li
          a.cells--spacing.padding--all.padding--top-s.padding--bottom-s(href="#")
            figure.cell #[span.icon-user.text--bold--size-xl]
            span.cell.expand.text--bold--size-l Contacts
        li
          a.cells--spacing.padding--top-s.padding--bottom-s.padding--left.padding--right-xs(href="#")
            figure.cell #[span.icon-doc-inv.text--bold--size-xl]
            span.cell.expand.text--bold--size-l Invoices
            span.cell #[span.icon-angle-right]
          ul.text--semibold
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
        li
          a.cells--spacing.padding--top-s.padding--bottom-s.padding--left.padding--right-xs(href="#")
            figure.cell #[span.icon-chart-pie.text--bold--size-xl]
            span.cell.expand.text--bold--size-l CRM
            span.cell #[span.icon-angle-right]
          ul.text--semibold
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li.active #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
        li
          a.cells--spacing.padding--top-s.padding--bottom-s.padding--left.padding--right-xs(href="#")
            figure.cell #[span.icon-bank.text--bold--size-xl]
            span.cell.expand.text--bold--size-l Banking
            span.cell #[span.icon-angle-right]
          ul.text--semibold
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
        li
          a.cells--spacing.padding--top-s.padding--bottom-s.padding--left.padding--right-xs(href="#")
            figure.cell #[span.icon-table.text--bold--size-xl]
            span.cell.expand.text--bold--size-l Accounts
            span.cell #[span.icon-angle-right]
          ul.text--semibold
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
            li #[a.padding--all.padding--top-xs.padding--bottom-xs(href="#") Sample Subpage]
        li
          a.cells--spacing.padding--all.padding--top-s.padding--bottom-s(href="#")
            figure.cell #[span.icon-clock.text--bold--size-xl]
            span.cell.expand.text--bold--size-l Reports
    footer#dialog-user-trigger.user
      .user-collapsed
        hr.margin--all-reset
        a.icon-cog.text--size-xl.swatch--aqua.block.padding--all-s(href="#")
      .user-expanded
        hr.margin--all-reset
        a.cells--spacing.swatch--aqua.padding--all-s(href="#")
          span.cell.expand
            span.text--caps--semibold--size-xs Signed as
            span.block.text--bold Ray Rogers
          span.cell #[span.text--size-xl.icon-cog]