block link
  -var selected = 'Clients'; // by default

-var menu = { 'Clients': 'clients', 'Invoices': 'invoices' };


aside.sidebar.atk-layoutColumn.atk-swatch-aqua.atk-border-right-static
  .sidebar-indicator
  .sidebar-inner
    .logo.atk-padding-all.atk-padding-top--s.atk-padding-bottom--s.atk-align-center
      a(href='/').atk-inline-block
        span.logo-mask.atk-swatch-aqua
        img(src='images/logo-white.svg' title="Surfaccounts" width="100")
    hr.atk-margin-all--none
    nav.nav-sidebar.scrollable.atk-padding-top--s
      ul.atk-list-nobullets.atk-menu-vertical.atk-text-baseline--single
        li
          a.atk-cells-spacing.atk-padding-all.atk-padding-top--s.atk-padding-bottom--s(href="#")
            figure.atk-cell #[span.icon-gauge.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l Dashboard
        li
          a.atk-cells-spacing.atk-padding-all.atk-padding-top--s.atk-padding-bottom--s(href="#")
            figure.atk-cell #[span.icon-user.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l Contacts
        li
          a.atk-cells-spacing.atk-padding-top--s.atk-padding-bottom--s.atk-padding-left.atk-padding-right--xs(href="#")
            figure.atk-cell #[span.icon-doc-inv.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l Invoices
            span.atk-cell #[span.icon-angle-right]
          ul.atk-text-semibold
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
        li
          a.atk-cells-spacing.atk-padding-top--s.atk-padding-bottom--s.atk-padding-left.atk-padding-right--xs(href="#")
            figure.atk-cell #[span.icon-chart-pie.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l CRM
            span.atk-cell #[span.icon-angle-right]
          ul.atk-text-semibold
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li.active #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
        li
          a.atk-cells-spacing.atk-padding-top--s.atk-padding-bottom--s.atk-padding-left.atk-padding-right--xs(href="#")
            figure.atk-cell #[span.icon-bank.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l Banking
            span.atk-cell #[span.icon-angle-right]
          ul.atk-text-semibold
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
        li
          a.atk-cells-spacing.atk-padding-top--s.atk-padding-bottom--s.atk-padding-left.atk-padding-right--xs(href="#")
            figure.atk-cell #[span.icon-table.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l Accounts
            span.atk-cell #[span.icon-angle-right]
          ul.atk-text-semibold
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
            li #[a.atk-padding-all.atk-padding-top--xs.atk-padding-bottom--xs(href="#") Sample Subpage]
        li
          a.atk-cells-spacing.atk-padding-all.atk-padding-top--s.atk-padding-bottom--s(href="#")
            figure.atk-cell #[span.icon-clock.atk-text-bold-size--xxl]
            span.atk-cell.atk-expand.atk-text-bold-size--l Reports
    footer#dialog-user-trigger
      .footer-collapsed
        hr.atk-margin-all--none
        a.icon-cog.atk-text-size--xxl.atk-swatch-aqua.atk-block.atk-padding-all--s(href="#")
      .footer-expanded
        hr.atk-margin-all--none
        a.atk-cells-spacing.atk-swatch-aqua.atk-padding-all--s(href="#")
          span.atk-cell.atk-expand
            span.atk-text-caps-semibold-size--xs Signed as
            span.atk-block.atk-text-bold Ray Rogers
          span.atk-cell #[span.atk-text-size--xxl.icon-cog]