block link
  -var selected = 'Clients'; // by default

-var menu = { 'Clients': 'clients', 'Invoices': 'invoices' };


aside.sidebar.atk-layout-column.atk-swatch-midnight
  .sidebar-indicator
  .sidebar-inner
    .atk-align-center.atk-padding.logo
      a(href='/').atk-inline
        span.logo-mask.atk-swatch-midnight
        img(src='images/logo.svg' title="Surfaccounts" width="100")
    hr.atk-hr-reset
    nav.nav-sidebar.scrollable.atk-padding-top-small
      ul.atk-list-nobullets.atk-menu-vertical.atk-text-baseline-reset
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-section-small.atk-padding
            figure.atk-cell #[span.icon-gauge.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo Dashboard
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-section-small.atk-padding
            figure.atk-cell #[span.icon-user.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo Contacts
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-padding.atk-padding-right-small.atk-section-small
            figure.atk-cell #[span.icon-doc-inv.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo Invoices
            span.atk-cell #[span.icon-angle-right]
          ul.atk-section-small.atk-text-medium
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-padding.atk-padding-right-small.atk-section-small
            figure.atk-cell #[span.icon-chart-pie.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo CRM
            span.atk-cell #[span.icon-angle-right]
          ul.atk-section-xsmall.atk-text-medium
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li.active #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-padding.atk-padding-right-small.atk-section-small
            figure.atk-cell #[span.icon-bank.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo Banking
            span.atk-cell #[span.icon-angle-right]
          ul.atk-section-xsmall.atk-text-medium
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-padding.atk-padding-right-small.atk-section-small
            figure.atk-cell #[span.icon-table.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo Accounts
            span.atk-cell #[span.icon-angle-right]
          ul.atk-section-xsmall.atk-text-medium
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
            li #[a(href="#").atk-padding.atk-section-xsmall Sample Subpage]
        li
          a(href="#").atk-cells.atk-cells-gutter.atk-padding.atk-padding-right-small.atk-section-small
            figure.atk-cell #[span.icon-clock.atk-text-bold.atk-size-giga]
            span.atk-cell.atk-expand.atk-text-bold.atk-size-kilo Reports
    .company-switch
      .company-switch-collapsed.atk-padding.atk-padding-vertical-small.atk-swatch-midnight
        hr.atk-hr-reset
        span.icon-cog.atk-size-giga
      .company-switch-expanded.atk-padding.atk-padding-vertical-small.atk-padding-right-small.atk-swatch-midnight
        hr.atk-hr-reset
        .atk-size-milli Signed in
        .atk-cells.atk-text-lead.atk-cells-gutter
          .atk-cell.atk-text-bold Relate Software Industries
          figure.atk-cell #[span.atk-size-giga.icon-cog]