doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Proxima Nova — Cyrillic Test
    link(type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/7d50f0a2-435b-4e7b-a71f-700ede84c298.css")
    link(rel='stylesheet', href='css/theme-fixed.css')
    include includes/scripts
  body
    include includes/browsehappy
    include includes/analytics
    .atk-layout
      .atk-layout-row
        .atk-layout-cell
          .atk-wrapper.atk-section-large.atk-align-center
            h1.atk-text-bold Proxima Nova — Cyrillic Test
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell
          .atk-layout-column.atk-layout-expand
            hr.atk-hr-reset
            .atk-wrapper.atk-section-large
              .atk-row
                .atk-col-4
                  h3.atk-text-dimmed.atk-push w10 Option
                  .test-w10
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 16px
                        .atk-cell
                          .size-16 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 14px
                        .atk-cell
                          .size-14 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 12px
                        .atk-cell
                          .size-12 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 10px
                        .atk-cell
                          .size-10 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                .atk-col-4
                  h3.atk-text-dimmed.atk-push w08 Option
                  .test-w08
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 16px
                        .atk-cell
                          .size-16 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 14px
                        .atk-cell
                          .size-14 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 12px
                        .atk-cell
                          .size-12 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 10px
                        .atk-cell
                          .size-10 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                .atk-col-4
                  h3.atk-text-dimmed.atk-push w07 Option
                  .test-w07
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 16px
                        .atk-cell
                          .size-16 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 14px
                        .atk-cell
                          .size-14 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 12px
                        .atk-cell
                          .size-12 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 
                    .atk-push
                      .atk-cells.atk-cells-gutter
                        .atk-cell
                          span.atk-swatch-gray.atk-size-milli.atk-label.atk-padding-xsmall 10px
                        .atk-cell
                          .size-10 В чащах юга жил бы цитрус? Да, но фальшивый 5-ый экземпляр! 