.text-light {
  font-family: 'ProximaNovaLight', sans-serif;
  font-weight: normal;
}
.text-regular {
  font-family: 'ProximaNovaRegular', sans-serif;
  font-weight: normal;
}
.text-medium {
  font-family: 'ProximaNovaSemibold', sans-serif;
  font-weight: normal;
}
.text-bold {
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: normal;
}
.text-italic {
  font-family: 'ProximaNovaRegularIt', sans-serif;
  font-weight: normal;
}
.clear-fix {
  *zoom: 1;
}
.clear-fix:before,
.clear-fix:after {
  display: table;
  content: "";
  line-height: 0;
  width: 100%;
}
.clear-fix:after {
  clear: both;
}
.expand {
  width: 100%;
}
.inline {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.modal-window-overlay {
  font-family: 'ProximaNovaRegular', sans-serif;
  font-weight: normal;
}
.modal-window-overlay input {
  width: 240px;
}
.modal-window-overlay .modal-window-bg {
  display: table;
  background-color: #f2f5f5;
  padding: 20px 30px 35px 30px;
  border-radius: 2px;
}
.modal-window-overlay .cancel-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-window-overlay .modal-title {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.modal-window-overlay .modal-input {
  float: left;
}
.modal-window-overlay .modal-input button {
  width: 320px;
}
.modal-window-overlay .modal-input #new-upload-document-view {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid #dfe5e5;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 320px;
}
.modal-window-overlay .modal-full-width-text {
  display: inline-block;
  margin-bottom: 20px;
}
.modal-window-overlay .line {
  position: absolute;
  display: table;
  height: 1px;
  background-color: red;
  background-color: #dfe5e5;
}
.modal-window-overlay .icon-lock {
  position: relative;
  display: inline-table;
  top: 10px;
  margin-right: 10px;
}
.modal-window-overlay .line-add-client {
  position: absolute;
  display: table;
  height: 1px;
  background-color: red;
  background-color: #dfe5e5;
  width: 100%;
  left: 0px;
}
.modal-window-overlay .line-margin {
  display: table;
  margin-bottom: 30px;
}
.modal-window-overlay .bottom-margin-0 {
  margin-bottom: 0px;
}
.modal-window-overlay .bottom-margin-5 {
  margin-bottom: 5px;
}
.modal-window-overlay .bottom-margin-10 {
  margin-bottom: 10px;
}
.modal-window-overlay .bottom-margin-25 {
  margin-bottom: 25px;
}
.modal-window-overlay .bottom-margin-30 {
  margin-bottom: 30px;
}
.modal-window-overlay .bottom-margin-35 {
  margin-bottom: 35px;
}
.modal-window-overlay .top-margin-10 {
  margin-top: 10px;
}
.modal-window-overlay .top-margin-20 {
  margin-top: 20px;
}
.modal-window-overlay .top-margin-25 {
  margin-top: 25px;
}
.modal-window-overlay .delete-button {
  position: relative;
  display: inline-table;
  top: 11px;
  float: right;
  height: 40px;
}
.icon-user-logout {
  right: -7px;
}
textarea {
  resize: vertical;
  /* user can resize vertically, but width is fixed */
  max-height: 300px;
}
.tooltip {
  background: white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c0cccc;
  top: 50px;
  content: "";
  position: absolute;
  z-index: 98;
  width: 380px;
  line-height: 20px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
}
.tooltip .found-search-row {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c0cccc;
  padding: 0px 15px;
  cursor: pointer;
}
.tooltip .found-search-row:last-child {
  border-bottom: 0px solid #c0cccc;
}
.tooltip .found-search-row .found-text {
  text-align: left;
  float: left;
}
.tooltip .found-search-row .found-info {
  text-align: right;
}
.tooltip .remove-bottom-border {
  border-bottom: 0px solid #c0cccc;
}
.tooltip .row-height-35 {
  height: 35px;
  line-height: 35px;
}
.tooltip .found-search-row:hover {
  background-color: #f2f5f5;
}
.tooltip .found-search-row-hover {
  background-color: #f2f5f5 !important;
}
.tooltip-before-after-style {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  border-style: solid;
  content: '';
  display: block;
}
.tooltip:before,
.tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  border-style: solid;
  content: '';
  display: block;
}
.tooltip:before {
  border-color: transparent transparent #c0cccc transparent;
  border-width: 6px;
  top: -12px;
  left: 7px;
}
.tooltip:after {
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 5px;
  top: -10px;
  left: 8px;
}
.client-tooltip {
  background: white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c0cccc;
  top: 50px;
  content: "";
  position: absolute;
  z-index: 98;
  width: 380px;
  line-height: 20px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  top: 30px;
  left: -100px;
  width: 121px;
}
.client-tooltip .found-search-row {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c0cccc;
  padding: 0px 15px;
  cursor: pointer;
}
.client-tooltip .found-search-row:last-child {
  border-bottom: 0px solid #c0cccc;
}
.client-tooltip .found-search-row .found-text {
  text-align: left;
  float: left;
}
.client-tooltip .found-search-row .found-info {
  text-align: right;
}
.client-tooltip .remove-bottom-border {
  border-bottom: 0px solid #c0cccc;
}
.client-tooltip .row-height-35 {
  height: 35px;
  line-height: 35px;
}
.client-tooltip .found-search-row:hover {
  background-color: #f2f5f5;
}
.client-tooltip .found-search-row-hover {
  background-color: #f2f5f5 !important;
}
.client-tooltip:before,
.client-tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  border-style: solid;
  content: '';
  display: block;
}
.client-tooltip:before {
  border-color: transparent transparent #c0cccc transparent;
  border-width: 6px;
  top: -12px;
  right: 6px;
}
.client-tooltip:after {
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 5px;
  top: -10px;
  right: 7px;
}
.payment-tooltip {
  background: white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c0cccc;
  top: 50px;
  content: "";
  position: absolute;
  z-index: 98;
  width: 380px;
  line-height: 20px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  top: 30px;
  /*30px*/
  /*left: -200px;*/
  width: auto;
  background-color: #212626;
  border: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.payment-tooltip .found-search-row {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c0cccc;
  padding: 0px 15px;
  cursor: pointer;
}
.payment-tooltip .found-search-row:last-child {
  border-bottom: 0px solid #c0cccc;
}
.payment-tooltip .found-search-row .found-text {
  text-align: left;
  float: left;
}
.payment-tooltip .found-search-row .found-info {
  text-align: right;
}
.payment-tooltip .remove-bottom-border {
  border-bottom: 0px solid #c0cccc;
}
.payment-tooltip .row-height-35 {
  height: 35px;
  line-height: 35px;
}
.payment-tooltip .found-search-row:hover {
  background-color: #f2f5f5;
}
.payment-tooltip .found-search-row-hover {
  background-color: #f2f5f5 !important;
}
.payment-tooltip:before,
.payment-tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  border-style: solid;
  content: '';
  display: block;
}
.payment-tooltip:before {
  border-color: transparent transparent #212626 transparent;
  border-width: 6px;
  top: -12px;
  right: 47%;
}
.payment-tooltip:after {
  border-color: transparent transparent #212626 transparent;
  border-style: solid;
  border-width: 5px;
  top: -10px;
  right: 47%;
}
.invoice-client-tooltip {
  background: white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c0cccc;
  top: 50px;
  content: "";
  position: absolute;
  z-index: 98;
  width: 380px;
  line-height: 20px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-top: -4px;
}
.invoice-client-tooltip .found-search-row {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c0cccc;
  padding: 0px 15px;
  cursor: pointer;
}
.invoice-client-tooltip .found-search-row:last-child {
  border-bottom: 0px solid #c0cccc;
}
.invoice-client-tooltip .found-search-row .found-text {
  text-align: left;
  float: left;
}
.invoice-client-tooltip .found-search-row .found-info {
  text-align: right;
}
.invoice-client-tooltip .remove-bottom-border {
  border-bottom: 0px solid #c0cccc;
}
.invoice-client-tooltip .row-height-35 {
  height: 35px;
  line-height: 35px;
}
.invoice-client-tooltip .found-search-row:hover {
  background-color: #f2f5f5;
}
.invoice-client-tooltip .found-search-row-hover {
  background-color: #f2f5f5 !important;
}
.invoice-client-tooltip:before,
.invoice-client-tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  border-style: solid;
  content: '';
  display: block;
}
.invoice-client-tooltip:before {
  border-color: transparent transparent #c0cccc transparent;
  border-width: 6px;
  top: -12px;
  right: 6px;
}
.invoice-client-tooltip:after {
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 5px;
  top: -10px;
  right: 7px;
}
.invoice-description-tooltip {
  background: white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c0cccc;
  top: 50px;
  content: "";
  position: absolute;
  z-index: 98;
  width: 380px;
  line-height: 20px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-top: -40px;
}
.invoice-description-tooltip .found-search-row {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c0cccc;
  padding: 0px 15px;
  cursor: pointer;
}
.invoice-description-tooltip .found-search-row:last-child {
  border-bottom: 0px solid #c0cccc;
}
.invoice-description-tooltip .found-search-row .found-text {
  text-align: left;
  float: left;
}
.invoice-description-tooltip .found-search-row .found-info {
  text-align: right;
}
.invoice-description-tooltip .remove-bottom-border {
  border-bottom: 0px solid #c0cccc;
}
.invoice-description-tooltip .row-height-35 {
  height: 35px;
  line-height: 35px;
}
.invoice-description-tooltip .found-search-row:hover {
  background-color: #f2f5f5;
}
.invoice-description-tooltip .found-search-row-hover {
  background-color: #f2f5f5 !important;
}
.invoice-description-tooltip:before,
.invoice-description-tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  border-style: solid;
  content: '';
  display: block;
}
.invoice-description-tooltip:before {
  border-color: transparent transparent #c0cccc transparent;
  border-width: 6px;
  top: -12px;
  right: 6px;
}
.invoice-description-tooltip:after {
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 5px;
  top: -10px;
  right: 7px;
}
.logged-user-tooltip {
  left: 160px;
  width: 140px;
  top: 60px;
}
.logged-user-tooltip:before {
  right: 9px;
}
.logged-user-tooltip:after {
  right: 10px;
}
.icon-delete-description-row {
  position: absolute;
  margin-left: -25px;
  margin-top: 11px;
  /*color:@swatchGray-80;*/
  cursor: pointer;
}
.icon-delete-description-row:hover {
  color: #5a6d6d;
}
.icon-delete-description-row-dummy {
  position: absolute;
  margin-left: -38px;
  width: 38px;
  height: 38px;
}
.modal-add-client {
  width: 551px;
}
.modal-add-product {
  width: 551px;
  padding: 20px 30px 30px 30px !important;
}
.modal-add-product .input-add-product-1 input {
  width: 359px;
}
.modal-add-product #input-side-left {
  position: relative;
  width: 30px;
  right: -9px;
  border-radius: 2px 0px 0px 2px;
  background: #edf2f2;
  padding: 0.65em 0.5em 0.55em 0.7em;
  color: #869898;
  z-index: 1;
}
.modal-add-product #input-side-right {
  z-index: 30;
}
.modal-add-product .input-add-product-2 {
  float: right;
}
.modal-add-product .input-add-product-2 input {
  width: 90px;
  border-radius: 0px 2px 2px 0px;
}
.modal-add-product button {
  margin-top: -5px;
}
.modal-add-product .delete-button {
  top: 7px;
}
.modal-change-email-address,
.modal-change-password {
  width: 380px;
  padding: 20px 30px 30px 30px !important;
}
.modal-change-email-address input,
.modal-change-password input {
  width: 320px;
}
.modal-change-email-address button,
.modal-change-password button {
  width: 48.3%;
}
.modal-change-email-address .forgot-password,
.modal-change-password .forgot-password {
  display: inline-table;
  width: 100%;
  margin-top: 7px;
  margin-left: 1px;
  margin-bottom: 15px;
}
.modal-verify-card,
.modal-add-card {
  width: 300px;
  padding: 20px 30px 30px 30px !important;
}
.modal-verify-card button,
.modal-add-card button {
  width: 47.5%;
}
.modal-verify-card .code-input,
.modal-add-card .code-input {
  width: 52px;
  height: 52px;
  margin-right: 4px;
  margin-left: 4px;
}
.modal-verify-card .date-input,
.modal-add-card .date-input {
  width: 88px;
}
.modal-verify-card .cvc-input,
.modal-add-card .cvc-input {
  width: 64px;
  float: right;
}
.modal-verify-card .date-nr-input-1,
.modal-add-card .date-nr-input-1 {
  position: relative;
  background-color: transparent;
  border: none;
  width: 44px;
  padding-right: 8px;
  margin-left: -92px;
}
.modal-verify-card .date-nr-input-2,
.modal-add-card .date-nr-input-2 {
  border: none;
  width: 43px;
  background-color: transparent;
  padding-left: 8px;
  margin-left: -3px;
}
.modal-verify-card .show-card-type,
.modal-add-card .show-card-type {
  position: relative;
  display: table;
  top: -24px;
  right: -192px;
}
.modal-verify-bank {
  width: 300px;
}
.hr-client-top {
  border: 0px;
  margin-top: 0px;
  margin-bottom: 0;
}
.hr-placeholder-top {
  border: 0px;
  margin-top: 40px;
  margin-bottom: 0;
}
.hr-client {
  border: 0px;
  margin-top: 0;
  margin-bottom: 11px;
}
.table-big {
  color: #5a6d6d;
}
.table-big tbody tr td {
  padding-top: 28px;
  padding-bottom: 28px;
}
.table-big tbody tr td + td {
  padding-left: 30px;
}
.table-big tbody tr td:first-child {
  padding-left: 0;
}
.table-big tbody tr td:last-child {
  padding-right: 0;
}
.table-big tbody tr + tr td {
  border-top: 1px solid #f2f5f5;
}
.client-status-td-width {
  width: 150px;
  display: inline-block;
  margin-right: -10px;
}
.client-status-td-width .status {
  display: inline-block !important;
  width: 120px;
}
.label-client {
  position: absolute;
  display: table;
  height: 31px;
  line-height: 20px;
  margin-top: -10px;
}
.icon-cog-size-pos {
  position: relative;
  display: inline-table;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
}
.tooltip-waiting-position {
  position: relative;
  font-size: 16px;
  margin-top: -5px;
  top: 0px;
  left: -55%;
  cursor: pointer;
}
.icon-cog-size-pos-active {
  color: #00c1c7 !important;
}
.client-search-input-bg {
  float: right;
  display: inline-block;
  position: relative;
}
.client-search-input-bg .search-button {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 13px;
  top: 7px;
}
.client-search-input-bg input {
  height: 40px;
  width: 380px;
  float: right;
  background: #fafcfc;
  border: 1px solid #c0cccc;
  border-radius: 20px;
  line-height: 1.4;
  padding: 0.65em 2.9em 0.55em 1em;
  outline: none;
}
.client-search-input-bg input:focus {
  border-color: #00c1c7;
}
.settings-bottom-border {
  border-bottom: 1px solid #edf2f2;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
}
.settings-bottom-border:last-child {
  border-bottom: 0px solid;
}
.upload-button button {
  background-color: #edf2f2;
  border: 1px solid #c0cccc;
  color: #3f5555;
}
.upload-button button:hover {
  background: #e7eeee;
  border: 1px solid #c0cccc;
  color: #3f5555;
}
.settings-row {
  display: inline-table;
  border-bottom: 1px solid #edf2f2;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
}
.settings-row:last-child {
  border-bottom: 0px solid;
}
.settings-row select {
  width: 315px;
}
.settings-row input {
  width: 315px;
}
.settings-row .withdrawal-days-input {
  width: 35px;
  height: 32px;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
.settings-row .vat-rate-input {
  width: 50px;
  height: 32px;
  padding-right: 23px;
  padding-left: 8px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -2px;
}
.settings-row .vat-rate-percent {
  position: absolute;
  margin-left: -30px;
  margin-top: 1px;
}
.settings-row .bank-button {
  width: 83px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  background-color: #00c1c7;
  color: white;
  cursor: pointer;
  position: relative;
  top: -5px;
  right: -5px;
}
.settings-row .bank-button:hover {
  background: #00b7bd;
}
.settings-row .line-sep {
  width: 100%;
  height: 1px;
  background-color: #dfe5e5;
  margin-bottom: 20px;
  margin-top: 20px;
}
.settings-row .line-sep-left {
  display: table;
  width: 100%;
}
.settings-row .line-sep-text {
  display: table;
  margin: 0 auto;
  position: relative;
  top: -10px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.settings-row .margin-top-5 {
  display: table;
  margin-top: 5px;
}
.settings-row .margin-top-10 {
  display: table;
  margin-top: 10px;
}
.settings-row .margin-top-15 {
  display: table;
  margin-top: 15px;
}
.settings-row .margin-top-20 {
  display: table;
  margin-top: 20px;
}
.settings-row .margin-top-30 {
  display: table;
  margin-top: 30px;
}
.settings-row .margin-bottom-minus-10 {
  display: table;
  margin-bottom: -10px;
}
.settings-row .margin-bottom-5 {
  display: table;
  margin-bottom: 5px;
}
.settings-row .margin-bottom-10 {
  display: table;
  margin-bottom: 10px;
}
.settings-row .width-315 {
  width: 315px;
}
.settings-row .input-dummy-bg {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid #dfe5e5;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.settings-row .input-dummy-bg-no-active {
  background-color: #f2f5f5;
}
.settings-row .padding-left-reset {
  padding-left: 0px !important;
}
.settings-row .border-reset {
  border: 0px solid;
}
.settings-row .input-dummy-document-upload {
  width: 315px;
}
.settings-row .upload-image-container {
  height: 120px;
  border: 1px solid #dfe5e5;
  border-radius: 2px;
  float: left;
}
.settings-row .upload-image-container .upload-image-preview {
  width: 210px;
  height: 120px;
  border-right: 1px solid #dfe5e5;
  float: left;
}
.settings-row .upload-image-container .upload-image-preview img {
  width: auto;
  height: auto;
  position: relative;
  top: 15%;
  max-height: 70%;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.settings-row .upload-image-container .upload-image-actions {
  height: 100%;
  display: table;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  float: right;
}
.settings-row .upload-image-container .image-action-row {
  height: 25px;
}
.settings-left-block {
  position: relative;
  width: 24.5%;
  float: left;
  padding-right: 35px;
}
.settings-right-block {
  position: relative;
  width: 75.5%;
  float: left;
}
.settings-right-block .column-1 {
  width: 50%;
  float: left;
}
.settings-right-block .column-2 {
  width: 50%;
  float: left;
}
.settings-under-input-text {
  margin-top: 5px;
  width: 300px;
}
.settings-switch-text {
  line-height: 27px;
  margin-left: 7px;
}
.settings-change-button {
  line-height: 35px;
}
.icon-visa-image {
  display: inline-block;
  width: 50px;
  height: 12px;
  background: url("../images/icon-visa.png") no-repeat center;
}
.icon-mastercard-image {
  display: inline-block;
  width: 50px;
  height: 12px;
  background: url("../images/icon-mastercard.png") no-repeat center;
}
.fixed-success-message {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #0ac697;
}
.fixed-success-message .fixed-success-message-text {
  display: inline-block;
  vertical-align: middle;
  width: 900px;
}
.fixed-success-message .close-block {
  position: absolute;
  right: 20px;
  height: 100%;
  top: -13px;
  display: inline-block;
}
.fixed-success-message .close-middle {
  position: relative;
  top: 50%;
}
.open-settings-icon:hover {
  color: #00c1c7;
}
.icon-cross:hover {
  color: #5a6d6d;
  cursor: pointer;
}
.delete-withdrawal-method {
  position: absolute;
  right: -40px;
  bottom: 0px;
  width: 40px;
  height: 40px;
  line-height: 42px;
}
