doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Agile CSS
    link(rel='stylesheet', href='../Default/css/atk-default.css')
  body
    .atk-layout
      .atk-layoutRow.atk-layoutExpand
        .atk-layout.atk-layoutCell
          .atk-layoutColumn.atk-layoutExpand
            .atk-wrapper.atk-padding-top--xl.atk-padding-bottom--xl
              h1.atk-margin-bottom--l.atk-align-center Thumbnails with Overlay
              .atk-row.atk-grid-spacing--xs
                .atk-col-4
                  a(href="#").atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow
                    span.atk-filler
                      span.atk-cells.atk-filler.atk-align-bottom
                        span.atk-cell.atk-padding--s.atk-align-center
                          span.atk-block.atk-text-bold-caps Iceland
                          span.atk-text-size--s 19 Photos
                    img.atk-block(src="temp/iceland.jpg" width="100%" style="opacity:0.5")
                .atk-col-4
                  a(href="#").atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow
                    span.atk-filler
                      span.atk-cells.atk-filler.atk-align-bottom
                        span.atk-cell.atk-padding--s.atk-align-center
                          span.atk-block.atk-text-bold-caps Latvia
                          span.atk-text-size--s 10 Photos
                    img.atk-block(src="temp/latvia.jpg" width="100%" style="opacity:0.5")
                .atk-col-4
                  a(href="#").atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow
                    span.atk-filler
                      span.atk-cells.atk-filler.atk-align-bottom
                        span.atk-cell.atk-padding--s.atk-align-center
                          span.atk-block.atk-text-bold-caps Croatia
                          span.atk-text-size--s 32 Photos
                    img.atk-block(src="temp/croatia.jpg" width="100%" style="opacity:0.5")
                .atk-col-4
                  a(href="#").atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow
                    span.atk-filler
                      span.atk-cells.atk-filler.atk-align-bottom
                        span.atk-cell.atk-padding--s.atk-align-center
                          span.atk-block.atk-text-bold-caps Malaysia
                          span.atk-text-size--s 23 Photos
                    img.atk-block(src="temp/malaysia.jpg" width="100%" style="opacity:0.5")
                .atk-col-4
                  a(href="#").atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow
                    span.atk-filler
                      span.atk-cells.atk-filler.atk-align-bottom
                        span.atk-cell.atk-padding--s.atk-align-center
                          span.atk-block.atk-text-bold-caps Cyprus
                          span.atk-text-size--s 7 Photos
                    img.atk-block(src="temp/cyprus.jpg" width="100%" style="opacity:0.5")
                .atk-col-4
                  a(href="#").atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow
                    span.atk-filler
                      span.atk-cells.atk-filler.atk-align-bottom
                        span.atk-cell.atk-padding--s.atk-align-center
                          span.atk-block.atk-text-bold-caps Canada
                          span.atk-text-size--s 44 Photos
                    img.atk-block(src="temp/canada.jpg" width="100%" style="opacity:0.5")
