doctype html
<!--[if lt IE 7]<html lang="en" class="oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    <!--[if IE]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    title Swipe // Настройки - вывод
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/animation.css')
    link(rel='stylesheet', href='css/swipe.css')
    link(rel='stylesheet', href='css/arturs.css')
    script(type='text/javascript').
      var strServerError = "Нет связи с сервером.";
      var loginPageLink = "/ru/merchant/login/";
      var currentLanguage = "ru";
  body#main-section
    .layout
      .layout-row.layout-expand
        .layout.layout-cell
          .layout-column.layout-expand
            #modal-change-person-data.modal-window-overlay(style='display:none')
              form#modal-change-person-data-form
                input(type='hidden', name='custom_action', value='resubmit_personal_details')
                input(type='hidden', name='csrfmiddlewaretoken', value='dHRm837hYXN5VTjcRcEMuHAmu0A5Jx7T')
                .modal-window-bg.modal-change-password
                  .modal-title.text-24.text-gray-33.align-center Изменить ответственное лицо
                  .modal-input.bottom-margin-10
                    input#change-person-first-name.text-14.text-gray-33(type='text', name='responsible_person_first_name', value='', placeholder='Имя')
                    span#modal-change-person-data-error-first-name.warning-text
                  .modal-input.bottom-margin-10
                    input#change-person-last-name.text-14.text-gray-33(type='text', name='responsible_person_last_name', value='', placeholder='Фамилия')
                    span#modal-change-person-data-error-last-name.warning-text
                  .modal-input.upload-button
                    input#input-new-document(name='new-logo', type='file', accept='image/*, application/pdf', style='display:none')
                    button#new-upload-button.button.text-14.text-medium.margin-reset.margin-top-20
                      span.icon-upload
                      |  Загрузить Скан Паспорта
                    #new-upload-document-view.input-dummy-bg.input-dummy-document-upload.margin-top-20.margin-reset.text-gray-33(style='display: none;')
                      span.icon-user.text-aqua
                      span#new-file-name
                    span#modal-change-person-data-error-document.warning-text
                  a.text-12.text-gray-43.forgot-password(href='javascript:void(0)')
                    // Забыли пароль?
                  button.button.text-14.text-medium.text-gray-33.move-left.b-close Отмена
                  button.button.text-14.text-medium.fill-mint.move-right(onclick='return postPersonChange();') Подтвердить
            #modal-verify-card.modal-window-overlay(style='display:none')
              .modal-window-bg.modal-verify-card
                .modal-title.text-24.text-gray-33.align-center Verify Credit Card
                .modal-input
                  input.text-16.text-gray-33.code-input.align-center(type='text', value='1', placeholder='')
                .modal-input
                  input.text-16.text-gray-33.code-input.align-center(type='text', value='2', placeholder='')
                .modal-input
                  input.text-16.text-gray-33.code-input.align-center(type='text', value='3', placeholder='')
                .modal-input
                  input.text-16.text-gray-33.code-input.align-center(type='text', value='4', placeholder='')
                .modal-full-width-text.top-margin-20.bottom-margin-25.align-center
                  span.text-gray-43.align-center
                    | We held 
                    span.text-medium € 1.50
                    |   on your card to make sure it’s yours. We’ll release the money after you enter correct 4-digit code that appears next to the charge.
                button.button.text-14.text-medium.text-gray-33.move-left.b-close Later
                button.button.text-14.text-medium.fill-mint.move-right Verify
            #modal-add-card.modal-window-overlay(style='display:none')
              .modal-window-bg.modal-verify-card
                .modal-title.text-24.text-gray-33.align-center Add Credit Card
                .modal-input
                  input.text-14.text-gray-33(type='text', value='5573  6700  0203  4452', placeholder='')
                  span.icon-mastercard-image.show-card-type
                .modal-input.bottom-margin-30
                  input.text-14.text-gray-33.align-center.date-input(type='text', value='', placeholder='/')
                  input.text-14.text-gray-33.align-right.date-nr-input-1(type='text', value='02', placeholder='')
                  input.text-14.text-gray-33.align-left.date-nr-input-2(type='text', value='17', placeholder='')
                .bottom-margin-30.move-right
                  span.text-14.icon-lock
                  input.text-14.text-gray-33.align-center.cvc-input(type='text', value='357', placeholder='')
                button.button.text-14.text-medium.text-gray-33.move-left.b-close Cancel
                button.button.text-14.text-medium.fill-mint.move-right Add
            #modal-verify-bank.modal-window-overlay(style='display:none')
              .modal-window-bg.modal-verify-bank
                .modal-title.text-24.text-gray-33.align-center.margin-reset Подтвердите счёт
                .modal-full-width-text.top-margin-20.bottom-margin-25.align-center
                  // <span class="text-gray-43 align-center">Swipe перевёл €0,10 на ваш счёт. <span class="text-medium">Вам необходимо перечислить их назад</span> чтобы закончить подтверждение.</span>
                  span.text-gray-43.align-center
                    | Мы перечислили 0,10 € на ваш счёт. 
                    span.text-medium Перечислите эту сумму обратно
                    |  на счёт Swipe, чтобы подтвердить, что счёт принадлежит компании "SIA "Mayack"".
                button.button.text-14.text-medium.fill-mint.expand.b-close Понял!
            #modal-file-size-error.modal-window-overlay(style='display:none')
              .modal-window-bg.modal-verify-bank
                .modal-full-width-text.top-margin-20.bottom-margin-25.align-center
                  span.text-gray-43.align-center Файл слишком большого размера. Максимальный размер файла 10 Мб.
                button.button.text-14.text-medium.fill-mint.expand.b-close Понял!
            #modal-add-bank.modal-window-overlay(style='display:none')
              form#modal-add-bank-form
                input(type='hidden', name='csrfmiddlewaretoken', value='dHRm837hYXN5VTjcRcEMuHAmu0A5Jx7T')
                input(type='hidden', name='custom_action', value='add_bank_account')
                .modal-window-bg.modal-verify-card
                  .modal-title.text-24.text-gray-33.align-center Добавить банковский счёт
                  .modal-input.bottom-margin-5
                    input.text-14.text-gray-33(type='text', name='iban', value='LV22HABA0551026337837', placeholder='')
                  span#modal-add-bank-error-text.text-normal.align-left.expand.warning-text
                  .modal-full-width-text.top-margin-10.bottom-margin-25.align-center.expand
                    .text-medium.align-center.expand.inline SIA "Mayack"
                    span.text-gray-43.align-center Рег. номер 40103614521
                  button.button.text-14.text-medium.text-gray-33.move-left.b-close Отмена
                  button#modal-add-bank-button.button.text-14.text-medium.fill-mint.move-right(onclick='return postBankAccount();') Добавить
            #modal-delete-bank-account.modal-window-overlay(style='display:none')
              .modal-window-bg.modal-verify-card
                .modal-full-width-text.top-margin-10.bottom-margin-25.align-center
                  .text-normal.align-center.expand.inline Вы уверены, что хотите удалить этот банковский счёт?
                .b-close
                  button.button.text-14.text-medium.text-gray-33.move-left Нет
                button#modal-delete-bank-account-submit.button.text-14.text-medium.fill-peach.move-right Да
            section#header
              .wrapper
                .row.text-gray-33
                  .col-3
                    a(href='/ru/merchant/payments/')
                      img#logo(src='images/logo.svg', alt='Swipe', width='112', height='42')
                  .col-5
                    nav.navigation
                      .navigation-item.cells
                        a.cell.pointer(href='/ru/merchant/payments/') Платежи
                      .navigation-item.cells
                        a.cell.pointer(href='/ru/merchant/clients/') Клиенты
                      .navigation-item.cells
                        a.cell.pointer(href='/ru/merchant/products/') Продукты
                  .col-4.align-right
                    .cells.expand
                      .cell.username(style='padding-right:7px;')
                        a(href='javascript:void(0)', onclick='showLoggedUserActions(this)')
                          span.icon-user.text-aqua
                          | Mayack
                          span.icon-arrow-small-south
                        .client-tooltip.logged-user-tooltip.logged-user-tooltip-opened(tabindex='-2', style='display:none')
                          .found-search-row.text-14(onclick="actionSettings(this, '/ru/merchant/settings/info/')")
                            .found-text.text-gray-25 Настройки
                          .found-search-row.text-14(onclick='actionLogout(this)')
                            .found-text.text-gray-25 Выход
                            span.icon-logout.text-aqua.icon-user-logout
            section.section-large.wrapper
              .cells.expand
                .cell.divider-small.text-regular.text-32.text-gray-60
                  | Настройки
                .cell.align-right.text-14.text-gray-43
                  nav.pills
                    a.pointer(href='/ru/merchant/settings/info/')
                      | Профиль
                    a.pointer(href='/ru/merchant/settings/payments/')
                      | Счета
                    a.pointer.active(href='/ru/merchant/settings/withdrawal/')
                      | Вывод средств
            hr.hr-client-top
            input(type='hidden', name='csrfmiddlewaretoken', value='dHRm837hYXN5VTjcRcEMuHAmu0A5Jx7T')
            
            // Mayack's code begins
            .margin-large.wrapper
              .box.padding-reset
                section.padding-large
                  h1.margin-xsmall Открытие транзитного счёта в Swipe
                  |  Прошу открыть Транзитный счет для получения денежных средств в рамках Услуги Swipe и подтверждаю, что ознакомился и согласен с 
                  a(href='javascript:void(0)') Правилами
                  |  и 
                  a(href='javascript:void(0)') Тарифами
                  |  Услуги Swipe.
                hr.hr-nomargin
                section.padding-large
                  .cells.cells-gutter-small.valign-top.expand
                    aside.cell.form-side-label
                      .text-semibold.margin-xsmall.input-aligner.text-gray-20 Банковские реквизиты
                    .cell
                      .cells.cells-gutter-small.expand.cells-justified.valign-top
                        .cell
                          input.margin-xsmall.expand(type='text', placeholder='IBAN')
                          .text-gray-60 Swipe будет перечислять средства на указанные реквизиты банковского счёта.
                        .cell
                          input.expand(type='text', placeholder='BIC или SWIFT код банка')
                hr.hr-nomargin
                section.padding-large
                  .cells.cells-gutter-small.valign-top.expand
                    aside.cell.form-side-label
                      .text-semibold.margin-xsmall.input-aligner.text-gray-20 Представитель торговца
                      p.margin-reset.text-12.text-gray-25
                        | Представителю торговца необходимо обладать правом подписи от лица компании
                        br
                        | "SIA Mayack".
                    .cell
                      .cells.cells-gutter-small.margin-small.expand
                        .cell
                          input.expand(type='text', placeholder='Имя и Фамилия')
                        .cell
                          input.expand(type='text', placeholder='Персональный код')
                      .cells.expand.cells-justified.cells-gutter-small.valign-top
                        .cell
                          button.button.margin-xsmall.expand(data-loading-label="Loading...", onClick="$(this).addClass('button-loading')")
                            span.icon-upload
                            span &nbsp;&nbsp;Загрузить Копию
                          //- span.input-icon.expand.margin-xsmall.input-icon-primary.input-icon-secondary.input-icon-read-only
                          //-   span.icon-draft.text-aqua.move-left
                          //-   a.icon-cross.text-gray-60.text-12.move-right(href='javascript:void(0)')
                          //-   input(type='text', value="My File My File My File My File My File.jpg").expand
                          .text-gray-60 Загрузите копию паспорта или ID карты представителя компании.
                        .cell
                          .text-gray-60.input-aligner
                            | Ожидание&nbsp;
                            span.icon-help
                hr.hr-nomargin
                section.padding-large
                  .cells.cells-gutter-small.valign-top.expand
                    aside.cell.form-side-label
                      .text-semibold.margin-xsmall.input-aligner.text-gray-20 Торговец
                      p.margin-reset.text-12.text-gray-25 Проверьте достоверность указанных данных. После подачи заявления их можно будет изменить только связавшись с командой поддержки Swipe.
                    .cell
                      .cells.cells-gutter-small.margin-small.expand.cells-justified
                        .cell
                          input.expand(type='text', placeholder='Юридическое название торговца')
                        .cell
                          select.select-single.expand(data-placeholder="Форма коммерческой деятельности")
                            option Индивидуальный коммерсант
                            option Россия  
                      .margin-small
                        select.form-control.input-tags.expand(name='colors', multiple='', data-placeholder='Вид коммерческой деятельности')
                          option(value='black') Quisque in magna tempus
                          option(value='blue') Vivamus a mauris
                          option(value='green') Lorem ipsum
                          option(value='orange') Duis porttitor sem sit
                          option(value='red') Proin fermentum
                          option(value='yellow') Fusce ut eros
                          option(value='white') Vivamus
                      .cells.cells-gutter-small.margin-small.expand.cells-justified
                        .cell
                          input.expand(type='text', placeholder='Регистрационный номер')
                        .cell
                          select.expand.select-single
                            option(selected="selected") Латвия
                            option Россия
                      .cells.cells-gutter-small.expand.cells-justified
                        .cell
                          input.expand(type='text', placeholder='Адрес')
                        .cell
                          .cells.cells-gutter-small.expand.cells-justified
                            .cell
                              input.expand(type='text', placeholder='Город')
                            .cell
                              input.expand(type='text', placeholder='Почтовый индекс')
                hr.hr-nomargin
                section.padding-large
                  .cells.cells-gutter-small.valign-top.expand
                    aside.cell.form-side-label
                      .text-semibold.input-aligner.text-gray-20 Контактная информация
                      //- p.margin-reset.text-12.text-gray-25 Проверьте достоверность указанных данных. После подачи заявления их можно будет изменить только связавшись с командой поддержки Swipe.
                    .cell
                      .cells.cells-gutter-small.margin-small.expand.cells-justified
                        .cell
                          .input-dropdown
                            .input-combo.cells
                              .cell
                                select#input-phone
                                  option(data-code="372") Estonia (+372)
                                  option(data-code="371", selected="selected") Latvia (+371)
                                  option(data-code="7") Russia (+7)
                                  option(data-code="44") United Kingdom (+44)
                              .cell.expand
                                input.expand.rounded-right(type='text', placeholder='Телефон', id='phone')
                        .cell
                          input.expand(type='text', placeholder='Электронная почта')
                      .cells.cells-gutter-xsmall
                        .cell.text-baseline-reset
                          .checkbox.valign-middle
                            input(type='checkbox', id='contact-address-trigger', checked='checked')
                            label(for='contact-address-trigger')
                          //- .onoffswitch.move-left
                          //-   input#contact-adress-input(type='hidden', name='contact-address-input', value='1')
                          //-   input#contact-address-switch.onoffswitch-checkbox(type='checkbox', checked="checked")
                          //-   label.onoffswitch-label(for='contact-address-switch')
                          //-     span.onoffswitch-inner
                          //-     span.onoffswitch-switch
                        .cell
                          label(for='contact-address-trigger') Фактический адрес совпадает с юридическим.
                      #contact-address.hidden
                        .cells.cells-gutter-small.margin-small.expand.valign-top.cells-justified
                          .cell
                            select.select-single.expand
                              option(selected='selected') Латвия
                              option Россия
                            
                          .cell
                            input.expand(type='text', placeholder='Город')
                        .cells.cells-gutter-small.expand.cells-justified
                          .cell
                            input.expand(type='text', placeholder='Адрес')
                          .cell
                            input.expand(type='text', placeholder='Почтовый индекс')
                hr.hr-nomargin
                section.padding-large
                  .cells.expand.cells-gutter-small
                    aside.cell.form-side-label
                      | &nbsp;
                    .cell
                      .cells.cells-gutter-xsmall.margin-small.text-16
                        .cell.text-baseline-reset
                          .checkbox.valign-middle
                            input(type='checkbox', id='accept-terms')
                            label(for='accept-terms')
                        .cell
                          label(for='accept-terms') Ознакомился и согласен с 
                            a(href='javascript:void(0)') Правилами
                            |  и 
                            a(href='javascript:void(0)') Тарифами
                            |  Услуги.
                      ul.text-gray-43.checkbox-w-list
                        //- li Согласен, что предоставленная информация может быть использована Банком в маркетинговых и деловых целях, а также быть передана лицам в рамках группы предприятий Банка;
                        li Прошу акционерное общество «Rietumu Banka», единый регистрационный No 40003074497, юридический адрес: ул. Весетас 7, Рига, LV-1013, Латвийская Республика, предоставить услугу перевода денежных средств.
                        li Права и обязанности Банка и Торговца в рамках Услуги регулируются материальным правом Латвийской Республики.
                        li Любые споры относительно Услуги разрешаются в соответствии с Правилами.
                hr.hr-nomargin
                section.padding-large.section-small
                  .cells.cells-gutter-small.expand
                    aside.cell.form-side-label
                    .cell
                      button.button.text-18.move-right#print-withdrawal-form
                        span.icon-upload
                        | &nbsp;&nbsp;Распечатать
                      button.fill-mint.button.text-18(data-loading-label="Saving Changes...", onClick="$(this).addClass('button-loading')")
                        span Подать Заявку

            // Mayack's code ends

      #footer.layout-row
        .layout-cell
          hr.hr-nomargin
          footer.wrapper.section-large.text-gray-60.text-caps
            .cells.expand.text-12.text-medium
              .cell.divider.text-regular
                a(href='/ru/pricing/', target='_blank') Тарифы
                // <a href="javascript:void(0)" target="_blank">Support Center</a>
                a(href='/ru/terms_and_conditions/', target='_blank') Правила использования
              .cell.align-right.text-regular
                span.divider
                  a(href='https://www.facebook.com/swipe.lv', target='_blank')
                    span.icon-facebook
                    |   Facebook
                  a(href='https://twitter.com/swipelv', target='_blank')
                    span.icon-twitter
                    |   Twitter
                span.separator-large.text-aqua.text-bold /
                a(href='javascript:void(0)', onclick="$('html, body').animate({scrollTop:0}, '500', 'swing');")
                  span.icon-arrow-north-1
                  |   Наверх
    script(src='js/jquery-1.11.2.min.js')
    script(src='js/jquery.multiple.select.js')
    script(src='js/jquery.bpopup.js')
    script(src='js/2swipe.js')
    script(src='js/iban.js')
    script(src='js/swipe_settings_withdrawal.js')
    script(src='js/select2.full.min.js')
    script(type='text/javascript').
      var fileData =  false ,
      strVerify = "Подтвердить",
      maxFileSize = 10 * 1024 * 1024; //10MB
    script(type='text/javascript').
      function actionLogout(e){
      $( ".logged-user-tooltip" ).toggle();
      window.location.href = '/ru/merchant/logout/';
      }
      function actionSettings(evt, link){
      $(".logged-user-tooltip").toggle();
      window.location.href = link;
      }
