.atk-layout-row#footer
  .atk-layout-cell
    hr.atk-hr-reset
    footer.atk-wrapper.atk-section-large
      .atk-cells.atk-push.atk-cells-gutter-xlarge.atk-stack-tablet.atk-stack-mobile
        .atk-cell.atk-text-nowrap
          nav.atk-actions-large.caps.nav-languages.atk-size-milli
            a(href='javascript:void(0)') LV
            a(href='javascript:void(0)').active EN
            a(href='javascript:void(0)') RU
            span.atk-swatch-aqua-text.atk-sep-xlarge.atk-hide-desktop /
            a(href='javascript:void(0)').icon-twitter.atk-hide-desktop
            a(href='javascript:void(0)').icon-facebook.atk-hide-desktop
        .atk-cell.atk-text-baseline-reset
          .atk-cells.atk-width-auto.atk-move-right.atk-cells-gutter-large.powered-by
            .atk-cell
              a(href='#').logo-rietumu
                img(src="images/logo-rietumu.svg", width="125", height="22")
            .atk-cell
              a(href='#').logo-decta
                img(src="images/logo-decta.svg", width="85", height="16")
            .atk-cell
              a(href='#').logo-labums
                img(src="images/logo-latvijas-labums.svg", width="48", height="48")
      .atk-cells.atk-stack-tablet.atk-stack-mobile
        .atk-cell.atk-text-nowrap
          nav.caps.atk-size-micro.atk-actions-xlarge.atk-text-bold.atk-stack-mobile#nav-footer
            a(href='javascript:void(0)') Pricing
            a(href='javascript:void(0)') Support Center
            a(href='javascript:void(0)') Privacy Policy
        .atk-cell.atk-align-right.atk-text-nowrap.atk-hide-mobile.atk-hide-tablet
          nav.caps.atk-size-micro.atk-actions-xlarge.atk-text-bold
            a(href='javascript:void(0)')
              span.icon-youtube.atk-size-default
              | &nbsp;&nbsp;YouTube
            a(href='javascript:void(0)')
              span.icon-facebook.atk-size-default
              | &nbsp;&nbsp;Facebook
            a(href='javascript:void(0)')
              span.icon-twitter.atk-size-default
              | &nbsp;&nbsp;Twitter
            span.atk-sep-xlarge.atk-swatch-aqua-text.atk-stack-mobile /
            a(href='javascript:void()').go-top
              span.icon-arrow-north
              | &nbsp;&nbsp;Scroll to Top