script(src='js/jquery.min.js')
script(src='js/core.js')
script(src='js/widget.js')
script(src='js/accordion.js')
script(src='js/wow.min.js')
script(src='js/atk-helpers-min.js')
script(src='js/jquery.scrollTo.min.js')
script(src='js/select2.full.min.js')
script(src='js/swipe.js')